* text=auto eol=lf
*.py text eol=lf
*.R text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.txt text eol=lf
*.parquet binary
*.rds binary
*.gz binary
